<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="../public/css/common.css" ></link>
    <link rel="stylesheet" type="text/css" href="../public/css/index.css" ></link>
    <script type="text/javascript" src="../public/jquery.js"></script>
</head>
<body>
    <div class="content">
        <div>
            <h2>增加、删除</h2>
            <ul id="person-list" class="personList">
                <% personInfo.forEach(function(item,index){ %>
                <li class="personItem">
                    <span class="personName"><%= item.name %></span>
                    <span class="personAge"><%= item.age %></span>
                    <label class="personDel" key=<%= index %>>×✘</label>
                </li>
                <% }) %>
            </ul>
            <ul class="addPersonList">
                <li class="addPersonItem">
                    <label for="">姓名</label>
                    <input id="name" type="text" maxlength="4">
                </li>
                <li class="addPersonItem">
                    <label for="">年龄</label>
                    <input id="age" type="text" maxlength="3">
                </li>
                <li class="addPersonItem">
                    <button id="submit" class="btn btnPrimary">提 交</button>
                </li>
            </ul>
        </div>
        <div class="fileUpload">
            <h2>文件上传</h2>
            <form id='editfile' method='post' action='/upload' enctype='multipart/form-data'>
                <input name="text" type="text"/>
                选择图片：
                <input name="avatar" id='upfile' type='file'/>
                <input class="btn btnPrimary" type='submit' value='提交'/>
            </form>
        </div>
    </div>


<script type="text/javascript" src="../public/js/index.js"></script>
</body>
</html>